body, html {
	/* обнуляем отступы: */
	margin: 0;
	padding: 0;
	/* устанавливаем высоту для элементов body и html,
	чтобы они занимали всю высоту окна браузера:*/
	height: 100%;

	background: #fff;
	/*overflow-x: hidden; !* Предотвращает горизонтальную прокрутку *!*/
}

.background{
		height: 100vh; /* viewport height */
		display: flex;

		/* выравнивание контента по главной оси (горизонтальной): */
		justify-content: center;

		/* выравнивание элементов по вертикальной оси: */
		align-items: center;
}

#header-background{
	background: linear-gradient(to bottom, #8C99A1, #373F44);
}

#section1{
	background: linear-gradient(to bottom, #373F44 , #8C99A1);
}

#section2{
	background: linear-gradient(to bottom, #8C99A1, #373F44);
}


header h1 {
	font-size: 40px;
	color: white;
	font-family: Arial, sans-serif;
}







