body, html {
	background: #fff;
    margin:0;
	overflow-x: hidden; /* Предотвращает горизонтальную прокрутку */
}

.background-block{
    max-width: 1440px;
    max-height: 900px;
}

.background-block img {
    width: 100%;
    max-height: 900px;
    object-fit: cover;
    object-position: bottom;
}

.logo {
    max-width: 100%;
    padding: 8px;
    margin: 0 auto; /* Центрирование элементов внутри родителя */
}


